<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Cadastre sua entrega</title>
</head>

<body>

    <h1>Cadastrar nova entrega</h1>

<form method="POST">

    <input type="text" name="description" placeholder="Descrição do item" required>
    <input type="text" name="sender" value="{{ user.name }}" readonly>
    <input type="text" name="recipient" placeholder="Destinatário" required>
    <input type="text" name="origin_address" placeholder="Endereço de origem" required>
    <input type="text" name="destination_address" placeholder="Endereço de destino" required>

    <br><br>

    <button type="submit">Cadastrar</button>

</form>

{% if request.args.get("message") %}
    <p style="color: green;">
        {{ request.args.get("message") }}
    </p>
{% endif %}

{% if session.get("user_id") %}
    <a href="{{ url_for('auth.logout') }}">
        <button>Sair</button>
    </a>
{% endif %}

</body>

</html>
