{% extends "base.html" %}

{% block title %}Cadastrar Motorista{% endblock %}

{% block content %}
    <h1>Cadastrar novo motorista</h1>

    <form method="POST">
        <input type="text" name="name" placeholder="Nome" required>
        <input type="text" name="phone" placeholder="Telefone" required>
        <input type="text" name="vehicle" placeholder="Veículo" required>
        <button type="submit">Cadastrar</button>
    </form>

    <br><br>
    <a href="/list-drivers">Ver lista de motoristas</a>

    {% if request.args.get("message") %}
        <p style="color: green;">
            {{ request.args.get("message") }}
        </p>
    {% endif %}

{% endblock %}