<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de novo motorista</title>
</head>
<body>

    <h1>Cadastrar novo motorista</h1>

    <form method="POST">
        <input type="text" name="name" value="{{ user.name }}" readonly>
        <input type="text" name="phone" placeholder="Telefone" required>
        <input type="text" name="vehicle" placeholder="Veículo" required>
        <button type="submit">Cadastrar</button>
    </form>

    <br><br>

    {% if session.get("user_id") %}
        <a href="{{ url_for('auth.logout') }}">
            <button>Sair da sessão</button>
        </a>
    {% endif %}

</body>
</html>