<!DOCTYPE html>
<html>
<head>
  <title>Bem vindo</title>
</head>
<body>
  <h1>Bem-vindo ao sistema de entregas</h1>
  <nav>

  {% if not session.get("user_id") %}

      <a href="/login">Entrar</a>
      <a href="/register">Cadastrar</a>

  {% elif session.get("role") == "sender" %}

    <a href="/create-delivery">Criar entrega</a>
    <a href="/sender-deliveries">Minhas entregas</a>
    <a href="/logout">Sair da sessão</a>

  {% elif session.get("role") == "driver" %}

      <a href="/collect-deliveries">Coletar entregas</a>
      <a href="/driver-deliveries">Minhas entregas</a>
      <a href="/logout">Sair da sessão</a>

  {% endif %}

</nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</body>
</html>