<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Pedidos de entrega cadastrados</title>
</head>

<body>

  <h1>Entregas do remetente</h1>

    <h2>Entregas a caminho do destinatário</h2>

    {% for delivery in deliveries %}

      {% if delivery.status == "pending" %}

        <div style="border:1px solid black; margin:10px; padding:10px;">

          <p>ID: {{ delivery.id }}</p>

          <p>Remetente: {{ delivery.sender }}</p>

          <p>Destinatário: {{ delivery.recipient }}</p>

          <p>Status: {{ delivery.status }}</p>

          <p>Endereço de origem: {{ delivery.origin_address }}</p>

          <p>Endereço de destino: {{ delivery.destination_address }}</p>

        </div>

      {% endif %}

    {% endfor %}

  <h2>Entregas a caminho do destinatário</h2>

  {% for delivery in deliveries %}

    {% if delivery.status == "in_progress" %}

      <div style="border:1px solid black; margin:10px; padding:10px;">

        <p>ID: {{ delivery.id }}</p>

        <p>Remetente: {{ delivery.sender }}</p>

        <p>Destinatário: {{ delivery.recipient }}</p>

        <p>Status: {{ delivery.status }}</p>

        <p>Endereço de origem: {{ delivery.origin_address }}</p>

        <p>Endereço de destino: {{ delivery.destination_address }}</p>

      </div>

    {% endif %}

  {% endfor %}

  <h2>Entregas finalizadas</h2>

  {% for delivery in deliveries %}

    {% if delivery.status == "delivered" %}

      <div style="border:1px solid gray; margin:10px; padding:10px;">

        <p>ID: {{ delivery.id }}</p>

        <p>Remetente: {{ delivery.sender }}</p>

        <p>Destinatário: {{ delivery.recipient }}</p>

        <p>Status: {{ delivery.status }}</p>

        <p>Endereço de origem: {{ delivery.origin_address }}</p>

        <p>Endereço de destino: {{ delivery.destination_address }}</p>

      </div>

    {% endif %}

  {% endfor %}

    <p>
        <a href="{{ url_for('main.home') }}">
            <button>Voltar</button>
        </a>
    </p>

    {% if session.get("user_id") %}
        <a href="{{ url_for('auth.logout') }}">
            <button>Sair</button>
        </a>
    {% endif %}

</body>

</html>